# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=webuzo_saas

# Application Configuration
APP_PORT=3000
APP_ENV=development
SESSION_SECRET=OFt7epbgeEuO+GtvEYClTJ+jRTfT0ahuSGOYuYh8qsduBbH9XKfW6n+7lzIdnS95

# Webuzo API Configuration
WEBUZO_USER=edusofto
WEBUZO_PASSWORD=8g2zGt$k5G
WEBUZO_HOST=edusoftovm.webhostns.com

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mrajin353@gmail.com
SMTP_PASSWORD=jdzl pxpx zhfu owkr
SMTP_FROM=mrajin353@gmail.com

# Application Settings
SUBSCRIPTION_PRICE=1000
CURRENCY=BDT
DEFAULT_COMMISSION_PERCENTAGE=10
DEFAULT_COMMISSION_FIXED=50 

DatabaseUser = edusofto_tenant